[submodule "src/kraken/heimdall_daq_fw"]
    path = src/kraken/heimdall_daq_fw
    url = https://github.com/acoustic-warfare/heimdall_daq_fw.git
[submodule "src/kraken/src/kraken/heimdal_daq_fw"]
	path = src/kraken/src/kraken/heimdal_daq_fw
	url = https://github.com/acoustic-warfare/heimdall_daq_fw.git
