[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "*"
haversine = "*"
pyproj = "*"
pyqtgraph = "*"
pyqt5 = "*"
pyadi-iio = "*"
glib = "*"
gst = "*"
pycairo = "*"
pygobject = "*"
numpy = "==1.26.4"

[dev-packages]

[requires]
python_version = "3.10"
